body{
	height: 100%;
	max-width: 600px;
	margin: auto;
	background-color: #489078;
	
}

*{
	margin: 0;
	padding: 0;
	font-family: "Fira Sans", sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	

}


.hide{
	display: none;
}

#menu{
	display: none;
	flex-direction: column;
	background-color: #489078;
	margin: auto;
	padding: 1rem;
	height: 100%;
    min-height: 100vh;
}

.cart-box{
	display: flex;
	height: 6rem;
	justify-content: right;
}

.cart-button{
	height: 4rem;
	width: 4rem;
	border: none;
	margin-top: 1rem;
	margin-right: 0.45rem;
	border-radius: 0.4rem;
	background-color: white;
	position: relative;
	cursor: pointer;
	
}


.total-counter{
	background-color: #eb5757;
	color: white;
	font-size: 0.8rem;
	border-radius: 100%;
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	top: -0.5rem;
	right: -0.5rem;
}

#menu-header{
	color: white;
	font-size: 2rem;
	text-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.911);
}

#menu-container, .submenu-container, .cart-container{
	border-radius: 0.3rem;
	margin-bottom: 1rem;
	background-color: #605858;
}


.menu-item , .cart-item{
	color: white;
	padding: 0.8rem;
	background: 0;
	border: none;
	text-align: left;
	width: 100%;
	padding-bottom: 1rem;
	padding-top: 1rem;
	cursor: pointer;
}

.menu-item:hover, .submenu-item:hover{
	background-color: #353131;
}

.menu-item:first-child{
	border-radius: 0.3rem 0.3rem 0 0;
}
.menu-item:last-child{
	border-radius:0 0 0.3rem 0.3rem;
}

.menu-item:not(:last-child), .cart-item:not(:last-child){
	border-bottom: dotted 1.5px rgba(255, 255, 255, 0.329);
}

.menu-item-inner, .submenu-inner, .cart-item{
	display: flex;
	gap: 0.3rem;
}

.menu-item-inner *, .submenu-inner *, .cart-item *{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.4rem;
	color: white;
	text-transform: uppercase;
}

.ingredients{
	font-size: 14px;
}

.dots{
	border-bottom: dotted 2px white;
	flex-grow: 1;
}

.submenu-item {
	border: none;
	color: white;
	background-color: #837d7c;
	padding: 0.5rem;
	border-radius: 0.4rem;
	font-size: 14px;
	cursor: pointer;
}

.submenu-selections{
	display: flex;
	flex-wrap: wrap;
	gap: 0.8rem;
}

.submenu-inner{
	margin-bottom: 1rem;
}

.submenu-container{
	padding: 0.8rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.cart-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 0.5rem;
}
.cart-item-inner {
    display: flex;
    width: 100%;
    align-items: center;
}
.cart-item-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}

.cart-dots {
    border-bottom: dotted 2px black;
    flex-grow: 1;
    margin: 0 0.5rem;
}
.cart-item-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}
.counter-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.counter-button:hover {
    background-color: #a8a8a8;
}
.quantity-display {
    font-size: 1rem;
    color: black;
    padding: 0 0.5rem;
}

.counter-button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #c2c1c1;
    border: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-button:hover {
    background-color: #353131;
}

.quantity-display {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.cart-item-name, .cart-item-price, .quantity-display{
	color : black;
}
.cart-dots{
	border-bottom: dotted 2px black;
	flex-grow: 1;
}

.cart-return-button{
	background: none;
	border: 0;
	margin-top: 1rem;
	margin-right: 0.4rem;
	height: 4rem;
	width: 4rem;
	border-radius: 0.5rem;
	cursor: pointer;
}
.icon-container{
	display: flex;
	height: 6rem;
	justify-content: right;
}


.cart-bottom-container {
    border-radius: 0.3rem;
    padding: 1rem;
	gap : 1rem;
    display: flex;
    justify-content: space-between;
	flex-direction: column;
}

.price-info {
	background-color: #c2c1c1;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 1rem;
    align-items: center;
}

.price-inner {
    flex-direction: column;
    align-items: flex-end;
}

.total-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.total-price {
    font-size: 1.5rem;
    font-weight: bold;
}

.money-button {
	background-color: #353131;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 1.8rem;
	cursor: pointer;
    
}

.money-button:disabled {
    background-color: #353131;
    cursor: not-allowed;
}



#eta{
  	flex-direction: column;
  	padding: 1rem;
  	align-items: center;
  	color: white;
  	gap: 1rem;
  	height: 100%;
  	min-height: 100vh;
  	overflow: hidden;
}
.eta-img-container{
	display: flex;
	justify-content: center;
}
.wonton-box{
	max-width: 30rem;
	margin-top: 5rem;
}

.order-id{
	text-transform: uppercase;
	text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0.5rem auto;
    color: white;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.time-left{
    text-align: center;
    font-size: 1rem;
    max-width: 15rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    line-height: 1.2;
	padding-top: 0.8rem;
}

.eta-button-container{
	display: flex;
	flex-direction: column;
	margin-top: auto;
	gap: 1rem;
	width: 100%;
}

.eta-buttons{
	background-color: black;
	border: none;
	border-radius: 0.3rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	padding: 1.5rem;
	cursor: pointer;
}

.eta-buttons.receipt{
	background-color: #605858;
	border: 2px solid white;
	color: white;
}

.wonton-eta {    
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0.5rem auto;
    color: #ffffff;
	
	
}

#receipt-section {
    background-color: #605858;
    display: none;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    color: white;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.receipt-container {
    margin-top: 5rem;
    background-color: white;
    color: #353131;
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    padding: 2rem;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
    align-items: center;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
}

.receipt-header {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.receipt-id {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #353131;
}

.receipt-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.receipt-item {
    width: 100%;
}

.receipt-item-inner {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.receipt-item-inner > p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #353131;
}

.dotted-divider-receipt {
    border-bottom: 2px dotted #353131;
    flex-grow: 1;
    height: 1.4rem;
}

.receipt-amount {
    font-size: 1rem;
    color: #353131;
    margin-top: 0.2rem;
}

.receipt-total-container {
    background-color: #eeeeee;
    width: 100%;
    border-radius: 0 0 0.3rem 0.3rem;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.receipt-total-inner {
    display: flex;
    flex-direction: column;
}

.receipt-total-text {
    font-weight: bold;
    font-size: 1.3rem;
    color: #353131;
}

.receipt-total-inner > p:last-child {
    font-size: 0.9rem;
    color: #605858;
}

.receipt-total {
    font-size: 1.5rem;
    font-weight: bold;
    color: #353131;
}

.receipt-new-order {
    background-color: #353131;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #eeeeee;
    padding: 1.5rem;
    width: 100%;
    margin-top: auto;
    cursor: pointer;
    text-transform: uppercase;
}

.receipt-new-order:hover {
    background-color: #2a2727;
}